* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  width: 300px;
  margin: auto;
  position: relative;
}

.container {
  border-top: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 1),
              2px 3px 5px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 1px 0 0 0;
  width: 296px;
}

h3 {
  background-color: lightblue;
  background: linear-gradient(to bottom, rgb(80, 150, 185) 0%, rgb(50, 120, 155) 100%);
  border-radius: 3px;
  border: 1px solid steelblue;
  box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.5),
              0px 3px 5px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 30px 0 -0px 0;
  text-shadow: 1px 1px 4px black;
  padding: 15px;
  text-align: center;
}

hr {
  background-color: lightgrey;
  border: none;
  height: 1px;
  margin: 0px auto;
  width: 99%;
}

.visible-true {
  display: inline;
}

.visible-false {
  display: inline-block;
  height: 0;
  width: 0;
  overflow: hidden;
}

.add {
  margin: 8px 0;
  text-align: center;
  width: 100%;
}

.addTextField {
  width: 77%;
}

.todo {
  display: block;
  margin: auto;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

input[type=checkbox] {
  display:none;
}

input[type=checkbox] + label{
  background-color: lightgrey;
  border-radius: 3px;
  box-shadow: inset 3px 3px 5px grey;
  display: inline-block;
  height: 26px;
  margin: 0 24px 0 5px;
  vertical-align: middle;
  width: 26px;
}

input[type=checkbox]:checked + label {
  background:url("../images/checkmark-round.png");
  display: inline-block;
  background-color: palegreen;
  background-size: 26px 26px;
  border-radius: 3px;
  box-shadow: inset 3px 3px 6px grey;
  height: 26px;
  vertical-align: middle;
  width: 26px;
}

.redLine {
  display: inline-block;
  background-color: pink;
  border: none;
  margin: 0 0 0 1px;
  height: 40px;
  width: 1px;
  vertical-align: middle;
}

.strikethrough-false {
  display: block;
  visibility: hidden;
  margin-bottom: -7px;
  width: 170px;
}

.strikethrough-true {
  display: block;
  visibility: visible;
  margin-bottom: -7px;
  width: 170px;
}

.label-grayedout-false {
  display: inline-block;
  font-size: 9pt;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 9px 0 0 0;
  vertical-align: middle;
  width: 180px;
  text-transform: uppercase;
}

.label-grayedout-true {
  display: inline-block;
  color: lightgray;
  font-size: 9pt;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 9px 0 0 0;
  vertical-align: middle;
  width: 180px;
  text-transform: uppercase;
}

.deleteButton {
  background-image: url("../images/trash-a.png");
  background-size: 28px 28px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px -3px black;
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  width: 32px;
}

.editTextField {
  display: inline-block;
  margin: 7px 5px 7px 0px;
  vertical-align: middle;
  width: 155px;
}

.doneEditingButton {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 47px;
}

.padBottom {
  display: block;
  margin: 1px 2px;
  width: 296px;
}

.padBottomShadow {
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, .5);
  height: 10px;
  margin: -12px auto 0 auto;
  width: 280px;
}
