<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDHzbA38ip5lyhaGW8gEHSLO33IWujQ3mo",
      authDomain: "todo-list-fedc2.firebaseapp.com",
      databaseURL: "https://todo-list-fedc2.firebaseio.com",
      projectId: "todo-list-fedc2",
      storageBucket: "todo-list-fedc2.appspot.com",
      messagingSenderId: "557049437022"
    };
    firebase.initializeApp(config);
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/index.js"></script>
</head>

<body>
  <h3>ToDo List</h3>

  <div class="container" ng-controller="TodoListController as todoList">

    <div class="add">
      <input type="text" id="addTodoElement" ng-model="todoList.todoText" class="addTextField" placeholder="Type your task..."/>
      <button ng-click="todoList.addTodo()">Add</button>
    </div>
    <hr>

    <div ng-repeat="todo in todoList.todos" class="todo">
      <input type="checkbox" id="box{{$index}}" ng-model="todo.done" ng-click="todoList.checkTodo($index)">
      <label for="box{{$index}}"></label>
      <hr class="redLine"><hr class="redLine">

      <!-- Normal (non-editing) Mode -->
      <div ng-class="{ 'active': !todo.editing, 'inactive': todo.editing }">
        <div class="label-grayedout-{{todo.done}}">
          <hr class="strikethrough-{{todo.done}}">
          <label ng-click="todoList.editTodo($index)">{{todo.text}}</label>
        </div>
        <button class="deleteButton" ng-click="todoList.deleteTodo($index)"></button>
      </div>

      <!-- Editing Mode -->
      <div ng-class="{ 'active': todo.editing, 'inactive': !todo.editing }">
        <input type="text" id="editTodoElement{{$index}}" class="editTextField"
        placeholder="Editing task..." ng-model="todo.text" ng-blur="todoList.doneEditing($index)" />
        <button class="doneEditingButton" ng-click="todoList.doneEditing($index);">Done</button>
      </div>

      <hr>
    </div>

  </div>
  <img class="padBottom" src="images/padBottom.png">
  <div class="padBottomShadow"></div>

</body>
</html>
